/*          BODY*/
body{
    width: 100%;
    height: 400px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
/*      CONTENT*/
#content{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    flex-wrap: wrap;
}

/*          HEADER*/
header{
    position: relative;
    float: left;
    width: 100%;
    background: #222;
    height: 70px;
    color: #fff;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*          NAV*/
nav{
    position: relative;
    background: #BDBDBD;
    width: 15%;
    height: 700px;
    display: block;
    top: 2px;
}
li{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #fff;
    font-size: 20pt;
}

li:hover{
    background: #1E88E5;
    font-size: 22pt;
    cursor: pointer;
}
li:active{
    background: #fff;
}
ul{
    padding: 0px;
    width: 100%;
}
#headerimg {
    width: 100%;
    height: 150px;
}
#headerimg a img{
    width: 100%;
    height: 140px;
}

/*          V E N T A           */

#sell{
    background: #1E88E5 ;
    font-size: 22pt;
}   


        /*General divisiones*/

#insertProductDiv{
    display: flex;
    height: 200px;
    width: 100%;
    background: #999;
    position: relative;
    flex-wrap: wrap;
}
#tableDataDiv{
    display: flex;
    height: 100%;
    width: 80%;
    background: #ddd;
    position: relative;
    overflow-y: scroll;
}
#buttonsDiv{
    display: flex;
    height: 100%;
    width: 20%;
    background: #aaa;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
}

        /*     Input of Products */
#shortcutProductsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#shortcutProductsDiv div{
    width: calc(24% - 4px);
    height: calc(46.66px - 4px);
    margin: 2px;
    border: 1px solid black;
}
#productInputDiv{
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
}

#productInputDiv  label{
    font-family: Arial, Helvetica, sans-serif;
}
#shortcutProductsDiv{
    width: 100%;
    height: 140px;
    background: white;
    padding: 4px;
}
#productInputDiv input{
    height: 60%;
    width: 25%;
    font-size: 20pt;
    margin-left:20px ;
}
        /*table of Products*/
#productsTable{
    width: 100%;
    background: #fff;
}
#tableHead{
    background: #ccc;
    color: #111;
    padding: 10px 0 10px 0;
    font-size: 12pt;
}
#tableBody tr{
    border: 1px #ccc solid;
    height: 40px;
    cursor: pointer;
}

#tableBody td{
    text-align: center;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

/*              Buttons Division*/

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsContainer button{
    width: 80%;
    height: 50px;
    cursor: pointer;
    font-size: 14pt;
    color: #111;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
}
.buttonsContainer button:hover{
    background: #ccc;
    border: 1px solid #999;
}
 
#totalLabel{
    font-size: 18pt;
    width: 100%;
    margin:10px 0 10px 0;
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    #totalLabel1{
        width: 100%;
        display: flex;
        justify-content: center;    
    }
#totalLabel h6{
    width: 30%;
    margin: 0;
    text-align: center;
    font-size: 25pt;
    color: green;
}
#totalCurrently{
    color: rgb(15, 15, 100);
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

/*              C O B R A R*/
.sellWindow{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    left: 20%;
    top: 30%;
    width: 60%;
    height: 80%;
    background: #fff;
    border: 1px solid #111;
}
#buttonExitContainer{
    display: flex;
    justify-content: flex-end;
    height: 5%;
    width: 100%;
    align-items: center;
}
#buttonExitContainer button{
    height: 100%;
    width: 30px;
    background-color: #fff;
    padding: 0;
    border: none;
}
#buttonExitContainer button img{
    height: 100%;

}
#buttonsSellDivision{
    width: 15%;
    height: 95%;
    position: absolute;
    left: 0;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    
}
#totalWindowSell , #amountPaidDiv , #changeClient{
    width: 85%;
    height: 31.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    position: absolute;
    left: 15%;
    top: 5%;
}
#amountPaidDiv{
    top: 36.66%;
}
#changeClient{
    top: 68.32%;
}

#buttonsSellDivision button img{
    width: 80%;
}
#buttonCashPay{
    background: #1565C0;
}
#amountPaidDiv input{
    height: 50%;
    width: 50%;
    font-size: 25pt;
}

#buttonPhoneData:hover{
    background-color: green;

}

#buttonPhoneData a{
    text-decoration: none;
    color: inherit;
}
#buttonPhoneData{
    width: 100%;
}

.clase{
    font-size: 11pt;
    background-color: pink;
    color: #1E88E5;
    border: 1px black solid;
    text-align: end;
}