/*          BODY*/
body{
    width: 100%;
    height: 400px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
/*      CONTENT*/
#content{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    flex-wrap: wrap;
}

/*          HEADER*/
header{
    position: relative;
    float: left;
    width: 100%;
    background: #222;
    height: 70px;
    color: #fff;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*          NAV*/
nav{
    position: relative;
    background: #BDBDBD;
    width: 15%;
    height: 450px;
    display: block;
    top: 2px;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    font-size: 20pt;
}

li:hover{
    background: #1E88E5;
    font-size: 22pt;
    cursor: pointer;
}
li:active{
    background: #fff;
}
ul{
    padding: 0px;
    width: 100%;
}
#headerimg {
    width: 100%;
    height: 150px;
}
#headerimg a img{
    width: 100%;
    height: 140px;
}

/*          DEPARTAMENTO           */

#client{
    background: #1E88E5 ;
    font-size: 22pt;
}   
#buttons, #label{
    width: 100%;
    display: flex;
    justify-content: center;
}
#label{
    font-family: fantasy, Helvetica, sans-serif;
    font-size: 30pt;
    margin: 0 30px;
    height: 20%;
    color: #D32F2F;
}
#buttons button{
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 20px;
    background-color: #01579B;
    color: honeydew;
    font-size: 20pt;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    box-shadow: 5px 6px 9px 1px #888
}
#buttons{
    height: 40%;
}
#buttons button:hover{
    background-color: #0288D1;
}
/*  Label*/
#orderBy{
    width: 100%;
    height: 10%;
}
/*      Table*/
#tableDataDiv{
    display: flex;
    height: 80%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    background-color: rgba(199, 198, 198, 0.5);
}
#productsTable{
    width: 100%;
    background: #fff;
}
#tableHead{
    color: #111;
    padding: 10px 0 10px 0;
    font-size: 14pt;
}
#tableHead tr th{
    background:#ccc;
    border-radius: 20px;
}
#tableBody tr{
    border: 1px #ccc solid;
    height: 40px;
    cursor: pointer;
     background: rgba(221, 221, 221, 0.219);
}

#tableBody td{
    text-align: center;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
#buttonsDiv{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-around;
}
#buttonsDiv button{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    
}

#buttonsDiv button img{
    width: 18%;
    margin-right: 3%;
}

#goBackButton:hover{
    background-color: #E0E0E0;
    
}
#clearValuesButton:hover{
    background-color: #D32F2F;
}
#saveValuesButton:hover{
    background-color: #388E3C;
    height: 150%;
}